.app{
	&-container {
		height: 100vh;
		width: 100vw;
    margin: auto;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    &-buttonWrapper {
    	display: flex;
    	align-items: flex-end;
    	justify-content: space-between;
    }
    &-resetWifiButton.rc-button,
    &-killswitch.rc-button {
			width: 49%;
			&.fullWidth {
				width: 100%;
			}
		}
		&-killswitch.rc-button {
			margin-top: 10px;
		}
		&-stats-wrapper {
			display: flex;
			flex-direction: column;
			width: 80%;
		}
	}
}