@mixin bounce-to-bottom {
	@include hacks();
	position: relative;
	width: 100px;
	@media (max-width: 969px) {
		width: 100%;
	}
	height: 50px;
	line-height: 50px;
	color: white;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	border-radius: 4px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	background: silver;
    @include prefixed(transition-property, background);
	@include prefixed(transition-duration, $mediumDuration);

	&:hover {
		color: #696969;
		background: $activeColor;
	}
}
.rc-button {
    @include bounce-to-bottom();
    &.stats-button {
    	&-On {
			background: green;
			color: white;
			&:hover {
				background: yellowgreen;
			}
		}
		&-Off {
			background: darkred;
			color: white;
			&:hover {
				background: indianred;
			}
		}
    }
}