
logo {
  &-image {
    width: 130px;
    text-align: center;
    padding: 0.5rem;
    font-size: 0.75rem;
    font-weight: 400;
    border-radius: 0.25rem;
    transition: background-color 0.25s ease-in-out;

    &.past, &.future {
      opacity: 0.5;
    }
  }
  &-text {
    width: 225px;
    margin: 0 auto;
  }
}