.stats {
	color: black;
	padding: 20px 0;
	width: 100%;
	@media (max-width: 969px) {
		width: 95%;
	}
	cursor: pointer;
	&-row {
		&,
		&-header {
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			background: #dadada;
			padding: 8px;
		}
		&-header{
			border-top-left-radius: 3px;
			border-top-right-radius: 3px;
		}
		&:nth-child(even) {
			background: $activeColor;
		}
		&:last-child {
			border-bottom-left-radius: 3px;
			border-bottom-right-radius: 3px;
		}
	}
	&-column {
		width: 20%;
		&-copy {
			padding-top: 20px;
		}
	}
}