.statusBar {
	width: 100%;
	background: #dadada;
	color: black;
	padding: 20px auto;
	position: fixed;
	@media (max-width: 968px) {
		bottom: 0;
	}
	@media (min-width: 969px) {
		top: 0;
	}
	left: 0;
	right: 0;
	display: flex;
	justify-content: space-around;
}